* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* DEFININDO ÁREAS DE CADASTRO E LOGIN */

#switchForm {
    display: none;
    justify-content: center;
    margin-top: 20px;
}

.sigInLogIn {
    width: 95%;
    display: grid;
    grid-template-columns: auto auto;
    padding: 5px;
    background-color: white;
    /* border: gray solid 2px; */
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.40);
}

.sigInLogInArea {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 5px;
}

.sigInLogInButton {
    border: gray solid 2px;
    border-radius: 5px;
    background-color: transparent;
    padding: 5px;
    /* box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75); */
}